$md: 768px;

.media-player {
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 10%;
		min-height: 100vh;
		&__heading {
			display: flex;
			align-items: flex-end;
			margin-bottom: 15px;
			&__search {
				display: flex;
				width: 50%;
			}
			&__title {
				width: 100%;
				font-size: 22px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: 0.32px;
				color: #000000;
			}
			&__add-track-heading {
				justify-content: flex-end;
				display: flex;
				width: 100%;
				font-size: 17px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: -0.41px;
			}
		}
		&__music-player {
			display: flex;
			border-radius: 1px;
			-webkit-box-shadow: 0px 0px 127px -22px rgba(151, 151, 151, 1);
			-moz-box-shadow: 0px 0px 127px -22px rgba(151, 151, 151, 1);
			box-shadow: 0px 0px 127px -22px rgba(151, 151, 151, 1);
			&__tracks {
				max-height: 240px;
				overflow: auto;
			}
		}
	}
}
@media screen and (max-width: $md) {
	.media-player {
		&__wrapper {
			margin: 10%;
			&__heading {
				display: flex;
				flex-direction: column;
				&__search {
					width: 100%;
				}
				&__title {
					text-align: center;
					font-size: 18px;
				}
				&__add-track-heading {
					margin-top: 2rem;
					flex-direction: column;
					height: 6rem;
					display: flex;
					align-items: baseline;
					font-size: 14px;
				}
			}
		}
	}
}
