.media-player__music-player {
  &__music-tracks {
    height: 66px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
    background-color: transparent;
    &__container {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 15px;
      &__album {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        background: rgb(49, 4, 99);
        background: linear-gradient(
          131deg,
          rgba(49, 4, 99, 1) 0%,
          rgba(100, 9, 121, 1) 35%,
          rgba(128, 93, 200, 1) 97%
        );
      }
      &__track-info {
        width: 100%;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &__time {
          font-size: 17px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.29;
          letter-spacing: -0.41px;
          color: #000000;
        }
        &__audio-length {
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: -0.24px;
          color: #999999;
        }
      }
      &__play-button {
        &:disabled {
          #play-button {
            color: grey;
          }
          cursor: auto;
        }
        outline: none;
        height: 100%;
        display: flex;
        align-items: center;
        appearance: none;
        border: 0;
        background-color: transparent;
        cursor: pointer;
      }
      &__remove-button {
        :hover {
          cursor: pointer;
        }
        height: 100%;
        display: flex;
        align-items: center;
        appearance: none;
        border: 0;
        background-color: transparent;
      }
    }
  }
}
